@import "/styles/fishclean.css";
@import "/styles/fishlist.css";
@import "/styles/footer.css";
@import "/styles/header.css";
@import "/styles/locations.css";

body {
    display:flex;
    margin: 0;
    flex-direction: column;
    height: 100%;
    background-image: url(/images/ocean.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    position: relative;
    overflow: auto;
}
a:link {
    color:black;
}
a:visited {
    color:black
}
a:hover {
    color: rgb(214, 26, 19);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


